.fab{
    float:right;
    right: 20px;
    top:10px;

}

.options {
	width: 80%;
	max-width: 900px;
	margin: auto;
	padding:10px;
	display:flex;
	flex-direction:column;
}

.options  > * { /* 1st level children*/
	padding: 10px;
	width:100%;
	display:flex;
	justify-content:space-evenly;
}

.options .field {
	width: 200px;
}

.options .main-text {
	width:100%;
}

#display {
	width:80%;
	margin: auto;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}

#display > * {
	margin:10px;
	height: 300px;
	width: 240px;
	padding:10px;
}

#count {
	display:flex;
	justify-content:space-evenly;
}

#count * {
	padding: 10px;
}
